* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: seashell;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.header {
  display: inline-block;

  width: 100vw;
  text-align: center;
  border-radius: 0 0 10px 10px;
  background-color: salmon;
  color: white;
}

.header h2 {
  font-size: 20px;
  margin: 5px;
}

.header h5 {
  margin: 0;
  font-size: 13px;
  text-align: center;
}

@media (min-width: 40rem) {
  .header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid thistle 1px;
  }
  .header h2 {
    font-size: 2.3rem;
  }
  .header h5 {
    font-size: 1.3rem;
  }
}

@media (min-width: 60rem) {
  .header h2 {
    font-size: 3.5rem;
  }
  .header h5 {
    font-size: 1.6rem;
  }
}

.header a {
  display: inline-block;
  color: slateblue;
  margin-bottom: 6px;
  vertical-align: middle;
  margin: 5px 0 10px 0;
  font-size: small;
}

@media (min-width: 40rem) {
  .header a {
    font-size: 1.2rem;
  }
}

@media (min-width: 60rem) {
  .header a {
    font-size: 1.2rem;
  }
}

.header a:hover {
  color: pink;
}

/* PRESENTATION */

.content {
  width: 100%;
  text-align: center;
}

.presentation {
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  padding: 7px 7px 5px 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px slategray;
}

.presentation img {
  margin: 10px;
  width: 12vw;
  border-radius: 50px 50px 0 50px;
  float: left;
  vertical-align: top;
}

.presentation p {
  text-align: left;
  color: #555b6e;
  margin-top: 4px;
  font-size: small;
  padding: 4px;
}

.presentation strong:first-child {
  display: inline-block;
  width: 80%;
  color: #555b6e;
  background-color: whitesmoke;
  font-weight: bold;
}

@media (min-width: 40rem) {
  .presentation {
    display: inline-block;
    box-shadow: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
  }
  .presentation img {
    float: none;
    border-radius: 100px;
    margin-right: 15px;
    width: 30%;
  }
  .presentation p {
    display: inline-block;
    text-align: center;
    font-size: 1.1rem;
  }
}

/* EXPERIENCE */

.experience,
.study {
  display: inline-block;
  width: 55vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
}

.experience p,
.study p {
  text-align: left;
  color: #555b6e;
  margin-top: 3px;
  font-size: small;
  padding: 4px;
  margin: 3px;
}

.experience > p,
.study > p {
  background-color: whitesmoke;
  font-weight: bold;
}

.experience div,
.study div {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.exp__1,
.exp__2,
.exp__3,
.study__1 {
  padding: 3px;
  margin: 6px;
  border-radius: 5px 20px 5px 20px;

  border: solid thistle 1px;
}

@media (min-width: 40rem) {
  .experience,
  .study {
    margin: 10px 10px 5px 5px;
    display: inline-block;
    width: 30vw;
    vertical-align: top;
    text-align: center;
    margin-top: 50px;
  }
  .experience p,
  .study p {
    font-size: 1rem;
  }
}

/* SKILLS */

.courses {
  display: inline-block;
  width: 65vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px slategray;
}

.courses__list > p {
  display: inline-block;
  background-color: whitesmoke;
  padding: 5px;
  width: 80%;
  text-align: left;
  color: #555b6e;
  font-size: small;
  padding: 4px;
  margin: 4px 4px 4px 0;
}

.courses__list ul {
  text-align: left;
}

.list__items li {
  display: inline-block;
  padding: 0 15px 5px 10px;
  color: #555b6e;
  font-size: small;
  width: 85%;
  list-style: none;
}

.courses img {
  display: inline-block;
  width: 11%;
  vertical-align: middle;
}

@media (min-width: 40rem) {
  .courses {
    width: 45vw;
    margin-top: 50px;
    overflow: visible;
    margin-bottom: 50px;
  }

  .courses__list p {
    font-size: 0.9rem;
    width: 30vw;
  }
  .list__items li,
  .list__items img {
    text-align: center;
    font-size: 1rem;
    padding-top: 5px;
  }
}

hr {
  margin-top: 25px;
  width: 60vw;
}

.footer-main {
  display: inline-block;
  width: 100vw;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-color: salmon;
}

.footer__box p {
  word-spacing: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: underline;
  color: white;
}
