* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}

/* HEADER */

.header {
  background-color: transparent;
  width: 100vw;
  text-align: center;
  border-radius: 0 0 10px 10px;
  border: solid thistle 1px;
  margin-bottom: 10px;
}

.header h2 {
  font-size: 20px;
  margin: 5px;
  color: #555b6e;
}

.header h5 {
  margin: 0;
  font-size: 13px;
  color: #555b6e;
  text-align: center;
}

@media (min-width: 40rem) {
  .header {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
  .header h2 {
    font-size: 2rem;
  }
  .header h5 {
    font-size: 0.9rem;
  }
}

.header a {
  display: inline-block;
  color: #006494;
  text-decoration: none;
  margin-bottom: 6px;
  vertical-align: middle;
  margin: 5px 0 10px 0;
  font-size: small;
}

@media (min-width: 40rem) {
  .header a {
    font-size: 0.9rem;
  }
}

.header a:hover {
  color: #e56b6f;
}

/* PRESENTATION */

.content {
  width: 100%;
  text-align: center;
}

.presentation {
  background-color: transparent;
  border: solid thistle 1px;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  padding: 5px 6px 5px 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px slategray;
}

.presentation img {
  margin-right: 10px;
  width: 12vw;
  /*   height: 10vh;
 */
  border-radius: 50px 50px 0 50px;
  float: left;
}

.presentation p {
  text-align: left;
  color: #555b6e;
  margin-top: 4px;
  font-size: small;
  padding: 4px;
}

@media (min-width: 40rem) {
  .presentation {
    display: inline-block;
    width: 27vw;
    height: 350px;
    border-radius: 15px;
    vertical-align: top;
    text-align: center;
    margin: 10px 10px 5px 5px;
    overflow: auto;
  }
  .presentation img {
    float: none;
    border-radius: 100px;
    width: 13vw;
  }
  .presentation p {
    display: inline-block;
    margin-top: 15px;
    text-align: center;
  }
}

.presentation strong {
  color: black;
}

.presentation:hover {
  box-shadow: 6px 6px 10px #555b61;
}
/* EXPERIENCE */

.experience,
.study {
  display: inline-block;
  background-color: transparent;
  border: solid thistle 1px;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  padding: 5px 6px 5px 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #555b6e;
}

.experience p,
.study p {
  text-align: left;
  color: #555b6e;
  margin-top: 3px;
  font-size: small;
  padding: 4px;
  margin: 3px;
}

.experience div,
.study div {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.exp__1,
.exp__2,
.exp__3,
.study__1 {
  /*   background-color: #cad2c5;
 */
  padding: 3px;
  margin: 6px;
  border-radius: 5px 20px 5px 20px;
  border: solid thistle 1px;
}

@media (min-width: 40rem) {
  .experience,
  .study {
    display: inline-block;
    width: 28vw;
    height: 350px;
    margin: 10px 10px 5px 5px;
  }
  .experience div {
    width: 100%;
    height: 28%;
  }
  .study {
    vertical-align: top;
    height: 200px;
  }
  .study div {
    width: 100%;
    height: 60%;
  }
}

.courses {
  display: inline-block;
  width: 55vw;
  height: 25vh;
  margin: 15px 0 10px 25px;
  padding: 2px 3px 2px 2px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #555b6e;
  border: solid thistle 1px;
  overflow: auto;
}

.courses p {
  display: inline-block;
  padding: 5px 0 0 5px;
  margin: 3px;
  color: #555b6e;
  margin-top: 4px;
  font-size: small;
}

.courses__list {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px 20px 5px 20px;
  padding: 5px;
  border: solid thistle 1px;
}

.list__items {
  display: inline-block;
  width: 100%;
  padding-left: 30px;
}

.list__items li {
  padding: 0 15px 5px 10px;
  color: #555b6e;
  font-size: small;
  width: 100%;
  list-style: outside;
}

.courses img {
  display: inline-block;
  width: 25px;
  vertical-align: middle;
}
