* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  height: 100vh;
}

/* HEADER */

.header {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #d6896f;
  color: whitesmoke;
  border-radius: 0 0 10px 10px;
}

.header h2 {
  font-size: 1.7rem;
  margin: 5px;
}

.header h5 {
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
}

@media (min-width: 40rem) and (min-height: 22rem) {
  .header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid thistle 1px;
  }
  .header h2 {
    font-size: 2rem;
  }
  .header h5 {
    font-size: 1rem;
  }
}

.header a {
  display: inline-block;
  color: #102744;
  margin-bottom: 6px;
  vertical-align: middle;
  margin: 5px 0 10px 0;
  font-size: 0.9rem;
}

@media (min-width: 50rem) and (min-height: 40rem) {
  .header a {
    font-size: 1rem;
  }
}

.header a:hover {
  background-color: #c6caff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

/* PRESENTATION */

.content {
  text-align: center;
}

.presentation {
  width: 85vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  padding: 7px 7px 5px 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px white;
  border: solid steelblue 1px;
}

.presentation img {
  margin: 0 10px 0 5px;
  width: 12.5%;
  border-radius: 50px;
  float: left;
  vertical-align: top;
}

.presentation p {
  text-align: left;
  margin-top: 4px;
  font-size: 0.8rem;
  padding: 4px;
}

.presentation strong {
  text-decoration: underline;
}

@media (min-width: 40rem) and (min-height: 22rem) {
  .content {
    display: inline-block;
    text-align: center;
  }

  .presentation {
    max-width: 80vw;
  }

  .presentation img {
    max-width: 70px;
  }

  .presentation p {
    font-size: 0.9rem;
  }
}

/* EXPERIENCE */

.experience,
.study {
  width: 80vw;
  padding: 5px;
  margin: 10px auto 10px auto;
  border-radius: 5px;
  vertical-align: top;
}

.experience p,
.study p {
  text-align: left;
  margin-top: 3px;
  font-size: small;
  padding: 5px;
  margin: 5px;
}

.experience strong,
.study strong {
  text-decoration: underline;
}

.exp__1,
.exp__2,
.exp__3,
.study__1 {
  padding: 3px;
  margin: 6px;
  border-radius: 5px 20px 5px 20px;
  border: solid steelblue 1px;
}

@media (min-width: 40rem) and (min-height: 22rem) {
  .content {
    width: 100vw;
  }

  .experience {
    display: inline-block;
    max-width: 40%;
    vertical-align: top;
  }

  .study {
    display: inline-block;
    max-width: 40%;
    vertical-align: top;
  }
  .experience p,
  .study p {
    font-size: 0.8rem;
  }
}

/* SKILLS */

.courses {
  display: inline-block;
  width: 70vw;
  margin-bottom: 17px;
  text-align: left;
}

.courses p {
  display: inline-block;
  font-size: 0.8rem;
  text-decoration: underline;
  padding: 5px;
  margin: 5px;
}

.list__items {
  padding: 10px 0 10px 10px;
  border-top: solid steelblue 1px;
  border-left: solid steelblue 1px;
  border-bottom: solid steelblue 1px;
  border-radius: 10px;
  margin: 5px;
}

.list__items li {
  display: inline-block;
  font-size: 0.8rem;
  width: 85%;
  list-style: none;
}

.courses img {
  width: 10%;
  vertical-align: middle;
}

@media (min-width: 40rem) and (min-height: 22rem) {
  .courses {
    display: inline-block;
    width: 90%;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    overflow: auto;
    margin-bottom: 20px;
  }

  .courses__list p {
    font-size: 0.9rem;
    width: 10%;
  }

  .list__items {
    text-align: left;
    margin: 0;
  }

  .list__items img {
    max-width: 5%;
  }

  .list__items li {
    max-width: 10%;
    font-size: 0.9rem;
    margin: 10px;
  }
}

.footer {
  width: 100%;
  font-size: 0.8rem;
  text-decoration: underline;
}
